$light-color: #f1faee;
$blue-clor: #1d3557;
$light-blue-color: #a8dadc;
/* Toggle */
.switch {
    display: inline-block;
    span {
        position: relative;        
        width: 60px;
        height: 34px;
        float: left;
        input {
            display:none;
            &:checked + .slider { background-color: $blue-clor; }
            &:checked + .slider:before { transform: translateX(26px); }
            &:focus + .slider { box-shadow: 0 0 1px $blue-clor; }
        }
    }
    label {
        line-height: 34px;
        margin-left: 12px;
        cursor: pointer;
    }
}
.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    border: 0;
    outline: none;
    background-color: hsl(182, 43%, 36%);
    transition: .4s;
    border-radius: 34px;
    cursor: pointer;
    &:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        transition: .4s;
        border-radius: 50%;
    }
}