$light-color: #f1faee;
$blue-clor: #1d3557;
$light-blue-color: #a8dadc;

.App {
  background-color: $light-color;

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 2rem;
    background: $light-blue-color;
    box-shadow: 0 0 11px 6px #0000003b;
    position: sticky;
    top: 0;
    z-index: 99;
  }

  main {
    display: flex;
    flex-direction: column;
    padding: 2rem;
  }
}

h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: $blue-clor;
}
