$light-color: #f1faee;
$blue-clor: #1d3557;
$light-blue-color: #a8dadc;

.App {
  background-color: $light-color;

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 2rem;
    background: $light-blue-color;
    box-shadow: 0 0 11px 6px #0000003b;
    position: sticky;
    top: 0;
    z-index: 99;
  }

  main {
    display: flex;
    // width: 100vw;
    flex-direction: column;
    padding: 2rem;
  }

  .video-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-flow: column;
    gap: 1rem;
    padding: 2rem 0;

    #video-canvas {
      width: 100%;
      position: sticky;
      top: 10rem;
      // width: 50%;
    }
  }

  .carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    color: whitesmoke;
    background-clip: text;
    text-transform: uppercase;
    font-weight: bold;
    font-family: monospace;
    // letter-spacing: 1rem;
  }
}

h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: $blue-clor;
}
